/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: IBM Plex Mono, monospace;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (prefers-color-scheme: dark) {
  
:root.theme-dark {
  --accent-color: #ff0070;
  --background-color: #000028;
  --title-decor: #db00ff;
  --color-subtitle: #000028;
  --color-text: #f1b2ce;
  --default-font-size: 18px;
  --cover-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.theme-dark
  .header__theme-menu-item
  > .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
  outline: 1px solid rgb(255, 0, 112, 40%);
}

.theme-dark .header__decor::before {
  display: block;
}

.theme-dark .decor-top {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.theme-dark .decor-bottom {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
}

@media (prefers-color-scheme: light) {
 
:root.theme-light {
  --background-color: #FFF1F7;
  --base-color: #353430;
  --accent-color: #ff8dcb;
  --title-decor: #ffc2e6;
  --color-subtitle: #000028;
  --color-text: #353430;
  --default-font-size: 18px;
  --cover-image: url(../images/cover-image-light.png);
}

.theme-light .header__theme-menu-button {
  color: var(--base-color);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--base-color);
}

.theme-light
  .header__theme-menu-item
  > .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--base-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgb(50, 49, 45, 40%);
}

.theme-light .header__decor::before {
  display: none;
}

.theme-light .decor-top {
  border-right: 1px solid var(--base-color);
  border-top: 1px solid var(--base-color);
}

.theme-light .decor-bottom {
  border-left: 1px solid var(--base-color);
  border-bottom: 1px solid var(--base-color);
}
}