/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #fff1f7;
  --base-color: #353430;
  --accent-color: #ff8dcb;
  --title-decor: #ffc2e6;
  --color-subtitle: #000028;
  --color-text: #353430;
  --default-font-size: 18px;
  --cover-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  background-color: var(--background-color);
  background-image: var(--cover-image);
}

.theme-light .header__theme-menu-button {
  color: var(--base-color);
}

.theme-light .header__theme-menu-button_active {
  /* Вам также нужно будет написать ряд подобных селекторов */
  outline: 1px solid var(--base-color);
}

.theme-light
  .header__theme-menu-item
  > .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--base-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgb(50, 49, 45, 40%);
}

.theme-light .header__decor::before {
  display: none;
}

.theme-light .decor-top {
  border-right: 1px solid var(--base-color);
  border-top: 1px solid var(--base-color);
}

.theme-light .decor-bottom {
  border-left: 1px solid var(--base-color);
  border-bottom: 1px solid var(--base-color);
}
