/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #fff1f7;
  --color-menu: #353430;
  --color-hover-menu: rgb(50, 49, 45, 40%);
  --base-color: #353430;
  --color-heading:#353430;
  --accent-color: #ff8dcb;
  --title-decor: #ffc2e6;
  --color-subtitle: #353430;
  --color-text: #353430;
  --default-font-size: 18px;
  --cover-image: url(../images/cover-image-light.png);
}

.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --color-menu: #353430;
    --color-hover-menu: rgb(50, 49, 45, 40%);
    --base-color: #353430;
    --color-heading:#353430;
    --accent-color: #ff8dcb;
    --title-decor: #ffc2e6;
    --color-subtitle: #353430;
    --color-text: #353430;
    --default-font-size: 18px;
    --cover-image: url(../images/cover-image-light.png);
  }
  
  .header__decor {
    display: none;
  }
}
